/* ===== PAGE TRANSITION FIX ===== */
        .btn-dark{
            transition: 0.5s;
            display: flex;
            justify-self: start;
        }
        .btn-dark:hover{
            transition: 0.5s;
            transform: translateX(-10px);
        }
#page-transition {
    position: fixed;
    inset: 0;
    background: linear-gradient(135deg, #3274f0, #5993ff, #3274f0);
    background-size: 400% 400%; 
    
    /* 2. Chamamos a animação */
    animation: bkgAnimado 5s ease infinite;    z-index: 99999;

    will-change: transform;
    
    pointer-events: all; 

    /* COMEÇA VISÍVEL */
    transform: translateY(0);
    transition: transform 0.6s cubic-bezier(.77,0,.18,1);
}
@keyframes bkgAnimado {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
/* anima saída (revelar página) */
#page-transition.loaded {
    transform: translateY(-100%);
    
    pointer-events: none; 
}