* {
    margin: 0;
    padding: 0;
    border-radius: 3px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    animation: bkg 3s infinite;
    transition: 0.5s;
}
h3{
    font-family: 'Courier New', Courier, monospace;
    color: rgb(97, 96, 96);
    margin-bottom: 10px;
}
#mensagem{
    margin-top: 10px;
    font-weight: bold;
}
#busca{
    display: none;
    border: 0.5px solid rgb(165, 164, 164);
    margin-top: 3px;
    transition: 0.5s;
    color: white;
    padding: 3px 5px 3px 5px;
    font-weight: 700;
    background-color: rgb(63, 63, 63);
    width: 100%;
    height: auto;
    
}
#busca:hover{
    border: 0.5px solid rgb(117, 116, 116);
    transition: 0.5s;
    animation: bkgbutton 3s infinite;
    cursor: pointer;
    color: black;
}
#enviar{
    padding: 8px;
    border: 0.5px solid rgba(255, 255, 255, 0);
    background-color: rgb(97, 96, 96);
    color: white;
    font-weight: bold;
    transition: 0.5s;
    margin: 10px;
    font-size: medium;
}
#enviar:hover{

    color: black;
    border: 0.5px solid rgb(63, 63, 63);
    background-color: rgb(236, 236, 236);
    box-shadow: 0 0 10px rgba(97, 96, 96, 0.5);
    transition: 0.5s;
    cursor: pointer;
}
.cont {
    display: flex;
    flex-direction: column;
    margin: 5px;
    width: max-content;
}

form {
    display: flex;
    flex-direction: row;
    background-color: rgb(236, 236, 236);
    padding: 20px;
    height: max-content;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}
input{
    border: 0.5px solid rgba(255, 255, 255, 0);
    transition: 0.5s;
}
input:hover{
    box-shadow: 0 0 10px rgba(97, 96, 96, 0.5);
    transition: 0.5s;
}
input:focus{
    border: 0.5px solid rgb(0, 0, 51);
    outline: none;
}
@keyframes bkg {
    
    0% {
        background-position: -200% 0;
        background-color: transparent;
    }

    50% {
        background-color: rgb(182, 203, 224);
        
    }

    100% {
        background-position: 200% 0;
        background-color: transparent;
    }
}
@keyframes bkgbutton {
    
    0% {
        background-position: -200% 0;
        background-color: transparent;
    }

    50% {
        background-color: rgb(183, 224, 182);
        
    }

    100% {
        background-position: 200% 0;
        background-color: transparent;
    }
}